body{
color: white;
margin:0
}
.canvas1{
    margin:20px;
    text-align: center;
    display:inline;
    display: none;
}
.canvas2{
    margin:20px;;
    text-align: center;
    display:inline;
    display: none;
}

.intro{
    display: block;
    margin-left:10.5%;
}
.main{
 text-align: center;
 
}
.form-check-label{
    font-size: 50px;
}
input{
    font-size: 50px;
}
#intro{
    margin-top: 10%;
}
